.button{
  @apply
    appearance-none
    inline-block px-2 pt-4 pb-3 mb-1
    bg-gray-300 rounded-full
    text-gray-600 font-semibold text-lg text-center
    transition-all duration-100
    md:px-12;

  box-shadow: 0 0.35rem 0 0 theme('colors.gray.400');
  transform: translateY(-.15rem);

  &:focus {
    @apply outline-none;
  }

  &:hover {
    filter: 'brightness(110%)';
  }

  &:active {
    box-shadow: 0 0.2rem 0 0 theme('colors.gray.400');
    transform: translateY(0)
  }

  &:disabled {
    @apply opacity-50 pointer-events-none;

    &:focus {
      @apply shadow-none;
    }
  }

  &&-primary {
    @apply text-white bg-green-500;

    box-shadow: 0 0.35rem 0 0 theme('colors.green.600');

    &:active {
      box-shadow: 0 0.2rem 0 0 theme('colors.green.600');
      transform: translateY(0)
    }
  }

  &&-small {
    @apply text-base py-2 px-6;
  }
}
